.line-container {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .mat-progress-bar-fill::after {
    background-color: #E50914;
  }

  .mat-progress-bar-buffer {
    background-color: white;
  }
}

.percentage-label {
  color: #E50914;
  font-size: 30px;
}
